<div layout-fill layout="row" layout-align="center center" ng-controller="LoginController as LogCtrl">
    <md-card flex="flex" flex-gt-sm="50" flex-gt-md="33">
        <md-card-content>
            <form name="loginForm">
                <md-input-container class="md-block">
                    <label>Login</label>
                    <input type="text" name="email"  ng-model="LogCtrl.login.email" required />
                    <div ng-messages="loginForm.email.$error">
                        <div ng-message="required">Please enter your email.</div>
                        <div ng-message="pattern">Please enter valid email.</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Password</label>
                    <input type="password" name="password" ng-model="LogCtrl.login.password" required valid-password-check/>
                    <div ng-messages="loginForm.password.$error">
                        <div ng-message="required">Please enter your password.</div>
                        <div ng-message="checkEmailPassword">Please enter valid emil and password</div>
                    </div>
                </md-input-container>
                <md-button ng-disabled="!loginForm.$valid" ng-click="LoginSubmit(loginForm)" class="md-raised md-primary">&nbsp; Login &nbsp;</md-button>
            </form>
        </md-card-content>
    </md-card>
</div>
